USE [QUANLYCUAHANGDIENTHOAI]
GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[MABH] [varchar](20) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[MAKH] [varchar](20) NOT NULL,
	[NGAYBD] [date] NOT NULL,
	[NGAYKT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MASP] [varchar](20) NOT NULL,
	[MAHD] [varchar](20) NOT NULL,
	[THANHTIEN] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NOT NULL,
	[MAKH] [varchar](20) NOT NULL,
	[MATG] [varchar](20) NULL,
	[MAMT] [varchar](20) NULL,
	[TONGTIEN] [bigint] NOT NULL,
	[NGAY] [date] NOT NULL,
	[HTTT] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[TENKH] [nvarchar](50) NOT NULL,
	[MAKH] [varchar](20) NOT NULL,
	[SDT] [bigint] NOT NULL,
	[SOCMNN] [bigint] NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [varchar](20) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SDT] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUASP]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUASP](
	[MASP] [varchar](20) NOT NULL,
	[MAKH] [varchar](20) NOT NULL,
	[NGAYMUA] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUATHUONG]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUATHUONG](
	[MAMT] [varchar](20) NOT NULL,
	[QUATANG] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUATRAGOP]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUATRAGOP](
	[MATG] [varchar](20) NOT NULL,
	[KIHAN] [int] NOT NULL,
	[LAISUAT] [int] NOT NULL,
	[TIENTRATRUOC] [bigint] NOT NULL,
	[TIENDATRA] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[TENNHACC] [nvarchar](30) NOT NULL,
	[MANHACC] [varchar](20) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SDT] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[HOTENDEM] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MANV] [varchar](20) NOT NULL,
	[CHUCVU] [nvarchar](30) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[NGAYLAM] [date] NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[GT] [nvarchar](6) NULL,
	[SDT] [bigint] NOT NULL,
	[LUONG] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANV] [varchar](20) NOT NULL,
	[MANHACC] [varchar](20) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[NGAYN] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONGTHUCTT]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONGTHUCTT](
	[MAHD] [varchar](20) NOT NULL,
	[MATG] [varchar](20) NULL,
	[MAMT] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[TENSP] [nvarchar](80) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[MAKHO] [varchar](20) NOT NULL,
	[THOILUONGBH] [int] NOT NULL,
	[HANGSP] [varchar](20) NOT NULL,
	[GIA] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SP_BH_KH]    Script Date: 08/07/2020 10:02:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP_BH_KH](
	[MABH] [varchar](20) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[MAKH] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BAOHANH] ([MABH], [MASP], [MAKH], [NGAYBD], [NGAYKT]) VALUES (N'BH1594216023989', N'sp1', N'KH0338832744', CAST(N'2020-07-08' AS Date), CAST(N'2020-07-08' AS Date))
INSERT [dbo].[BAOHANH] ([MABH], [MASP], [MAKH], [NGAYBD], [NGAYKT]) VALUES (N'BH1594216067619', N'SP123121231', N'KH0331234744', CAST(N'2020-07-08' AS Date), CAST(N'2020-07-08' AS Date))
INSERT [dbo].[BAOHANH] ([MABH], [MASP], [MAKH], [NGAYBD], [NGAYKT]) VALUES (N'BH1594216094649', N'SP64345', N'KH0234242342', CAST(N'2020-07-08' AS Date), CAST(N'2020-07-08' AS Date))
GO
INSERT [dbo].[CHITIETHD] ([MASP], [MAHD], [THANHTIEN]) VALUES (N'SP1', N'HD1594205380856', 22000000)
INSERT [dbo].[CHITIETHD] ([MASP], [MAHD], [THANHTIEN]) VALUES (N'SP3', N'HD1594205380856', 22000000)
INSERT [dbo].[CHITIETHD] ([MASP], [MAHD], [THANHTIEN]) VALUES (N'SP123121231', N'HD1594205424179', 12000000)
GO
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [MATG], [MAMT], [TONGTIEN], [NGAY], [HTTT]) VALUES (N'HD1594205380856', N'NV0389546455', N'KH0338832744', NULL, N'MT1578211180900', 22000000, CAST(N'2020-07-08' AS Date), N'TIỀN MẶT')
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [MATG], [MAMT], [TONGTIEN], [NGAY], [HTTT]) VALUES (N'HD1594205424179', N'NV0389546455', N'KH0331234744', NULL, N'MT1578211854491', 1000000, CAST(N'2020-07-08' AS Date), N'TIỀN MẶT')
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [MATG], [MAMT], [TONGTIEN], [NGAY], [HTTT]) VALUES (N'HD1594205494292', N'NV0312342368', N'KH0234242342', NULL, N'MT1578211836414', 1000000, CAST(N'2020-07-08' AS Date), N'TIỀN MẶT')
GO
INSERT [dbo].[KHACHHANG] ([TENKH], [MAKH], [SDT], [SOCMNN], [DIACHI]) VALUES (N'hiếu', N'KH0123456789', 123456789, 212644655, N'Quảng ngãi')
INSERT [dbo].[KHACHHANG] ([TENKH], [MAKH], [SDT], [SOCMNN], [DIACHI]) VALUES (N'MINH', N'KH0234234564', 234234564, 1212321312, N'QUẢNG NGÃI')
INSERT [dbo].[KHACHHANG] ([TENKH], [MAKH], [SDT], [SOCMNN], [DIACHI]) VALUES (N'KHA', N'KH0234242342', 234242342, 1212321312, N'QUẢNG NGÃI')
GO
INSERT [dbo].[KHO] ([MAKHO], [DIACHI], [SDT]) VALUES (N'K0331989770', N'455 LÊ VĂN VIỆT,QUẬN 9 ,TP HỒ CHÍ MINH', 331989770)
INSERT [dbo].[KHO] ([MAKHO], [DIACHI], [SDT]) VALUES (N'K0337854778', N'12 NGUYỄN TRI PHƯƠNG,QUẬN 10 ,TP HỒ CHÍ MINH', 337854778)
INSERT [dbo].[KHO] ([MAKHO], [DIACHI], [SDT]) VALUES (N'K0345674499', N'111 ĐIỆN BIÊN PHỦ,BÌNH THẠNH,TP HỒ CHÍ MINH', 345674499)
GO
INSERT [dbo].[MUASP] ([MASP], [MAKH], [NGAYMUA]) VALUES (N'SP1', N'KH0338832744', CAST(N'2020-07-08' AS Date))
INSERT [dbo].[MUASP] ([MASP], [MAKH], [NGAYMUA]) VALUES (N'SP3', N'KH0338832744', CAST(N'2020-07-08' AS Date))
INSERT [dbo].[MUASP] ([MASP], [MAKH], [NGAYMUA]) VALUES (N'SP123121231', N'KH0331234744', CAST(N'2020-07-08' AS Date))
GO
INSERT [dbo].[MUATHUONG] ([MAMT], [QUATANG]) VALUES (N'MT1578205783207', 0)
INSERT [dbo].[MUATHUONG] ([MAMT], [QUATANG]) VALUES (N'MT1578211180900', 0)
INSERT [dbo].[MUATHUONG] ([MAMT], [QUATANG]) VALUES (N'MT1578211836414', 0)
GO
INSERT [dbo].[MUATRAGOP] ([MATG], [KIHAN], [LAISUAT], [TIENTRATRUOC], [TIENDATRA]) VALUES (N'MTG1578205740968', 2, 10, 10000000, 0)
INSERT [dbo].[MUATRAGOP] ([MATG], [KIHAN], [LAISUAT], [TIENTRATRUOC], [TIENDATRA]) VALUES (N'MTG1578215474062', 1, 0, 200000, 0)
INSERT [dbo].[MUATRAGOP] ([MATG], [KIHAN], [LAISUAT], [TIENTRATRUOC], [TIENDATRA]) VALUES (N'MTG1578215599864', 2, 0, 400000, 0)
GO
INSERT [dbo].[NHACC] ([TENNHACC], [MANHACC], [DIACHI], [SDT]) VALUES (N'NHÀ CUNG CẤP IP', N'NCC0232377754', N'150/3/5 Nguyễn Văn Tiết, Tổ 76, Khu 11, Phường Phú Cường, Thành phố Thủ Dầu Một, Tỉnh Bình Dương

', 232377754)
INSERT [dbo].[NHACC] ([TENNHACC], [MANHACC], [DIACHI], [SDT]) VALUES (N'NHÀ CUNG CẤP  C', N'NCC0922332436', N'111 LÊ VĂN VIỆT,QUẬN 9 ,TP HỒ CHÍ MINH', 922332436)
INSERT [dbo].[NHACC] ([TENNHACC], [MANHACC], [DIACHI], [SDT]) VALUES (N'NHÀ CUNG CẤP  B', N'NCC0923346736', N'Thửa đất số 549, tờ bản đồ số 8, ấp Bàu Cỏ, Xã Phước Hoà, Huyện Phú Giáo, Tỉnh Bình Dương', 923346736)
GO
INSERT [dbo].[NHANVIEN] ([HOTENDEM], [TEN], [MANV], [CHUCVU], [NGAYSINH], [NGAYLAM], [DIACHI], [GT], [SDT], [LUONG]) VALUES (N'NGUYỄN   ', N'NHÂN', N'NV0311114368', N'NHÂN VIÊN KỸ THUẬT', CAST(N'2000-12-18' AS Date), CAST(N'2020-07-08' AS Date), N'BÌNH ĐỊNH', N'NAM', 311114368, 10800000)
INSERT [dbo].[NHANVIEN] ([HOTENDEM], [TEN], [MANV], [CHUCVU], [NGAYSINH], [NGAYLAM], [DIACHI], [GT], [SDT], [LUONG]) VALUES (N'NGUYỄN THỊ MỸ', N'HÀ', N'NV0312342368', N'NHÂN VIÊN THU NGÂN', CAST(N'2000-12-18' AS Date), CAST(N'2019-07-08' AS Date), N'PHÚ YÊN', N'NỮ', 312342368, 16800000)
INSERT [dbo].[NHANVIEN] ([HOTENDEM], [TEN], [MANV], [CHUCVU], [NGAYSINH], [NGAYLAM], [DIACHI], [GT], [SDT], [LUONG]) VALUES (N'NGUYỄN  SIÊU', N'NHÂN', N'NV0312399368', N'NHÂN VIÊN BẢO VỆ', CAST(N'2000-12-18' AS Date), CAST(N'2019-07-08' AS Date), N'HỒ CHÍ MINH', N'NAM', 312399368, 16800000)
GO
INSERT [dbo].[NHAPHANG] ([MANV], [MANHACC], [MASP], [NGAYN]) VALUES (N'NV0326712368', N'NCC0232377754', N'SP12312323', CAST(N'2020-07-08' AS Date))
INSERT [dbo].[NHAPHANG] ([MANV], [MANHACC], [MASP], [NGAYN]) VALUES (N'NV0326712368', N'NCC0232377754', N'SP123121231', CAST(N'2020-07-08' AS Date))
INSERT [dbo].[NHAPHANG] ([MANV], [MANHACC], [MASP], [NGAYN]) VALUES (N'NV0326712368', N'NCC0232377754', N'SP12312123432', CAST(N'2020-07-08' AS Date))
GO
INSERT [dbo].[PHUONGTHUCTT] ([MAHD], [MATG], [MAMT]) VALUES (N'HD1594205380856', NULL, N'MT1578211180900')
INSERT [dbo].[PHUONGTHUCTT] ([MAHD], [MATG], [MAMT]) VALUES (N'HD1594205424179', NULL, N'MT1578211854491')
INSERT [dbo].[PHUONGTHUCTT] ([MAHD], [MATG], [MAMT]) VALUES (N'HD1594205494292', NULL, N'MT1578211836414')
GO
INSERT [dbo].[SANPHAM] ([TENSP], [MASP], [MAKHO], [THOILUONGBH], [HANGSP], [GIA]) VALUES (N'IPHONE 12 1TB', N'SP1', N'K0337854778', 12, N'IPHONE', 22000000)
INSERT [dbo].[SANPHAM] ([TENSP], [MASP], [MAKHO], [THOILUONGBH], [HANGSP], [GIA]) VALUES (N'IPHONE 12 1TB', N'SP123', N'K0337854778', 12, N'IPHONE', 22000000)
INSERT [dbo].[SANPHAM] ([TENSP], [MASP], [MAKHO], [THOILUONGBH], [HANGSP], [GIA]) VALUES (N'Galaxy Ace A18 168GB', N'SP123121231', N'K0331989770', 12, N'SAMSUNG', 12000000)
GO
INSERT [dbo].[SP_BH_KH] ([MABH], [MASP], [MAKH]) VALUES (N'BH1594216023989', N'sp1', N'KH0338832744')
INSERT [dbo].[SP_BH_KH] ([MABH], [MASP], [MAKH]) VALUES (N'BH1594216067619', N'SP123121231', N'KH0331234744')
INSERT [dbo].[SP_BH_KH] ([MABH], [MASP], [MAKH]) VALUES (N'BH1594216094649', N'sp2', N'KH054637854')
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAMT])
REFERENCES [dbo].[MUATHUONG] ([MAMT])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MATG])
REFERENCES [dbo].[MUATRAGOP] ([MATG])
GO
ALTER TABLE [dbo].[MUASP]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[MUASP]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACC] ([MANHACC])
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[PHUONGTHUCTT]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[PHUONGTHUCTT]  WITH CHECK ADD FOREIGN KEY([MAMT])
REFERENCES [dbo].[MUATHUONG] ([MAMT])
GO
ALTER TABLE [dbo].[PHUONGTHUCTT]  WITH CHECK ADD FOREIGN KEY([MATG])
REFERENCES [dbo].[MUATRAGOP] ([MATG])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[SP_BH_KH]  WITH CHECK ADD FOREIGN KEY([MABH])
REFERENCES [dbo].[BAOHANH] ([MABH])
GO
ALTER TABLE [dbo].[SP_BH_KH]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[SP_BH_KH]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GT]='NAM' OR [GT]=N'NỮ'))
GO
